@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  background: #eee;
}

nav {
  background: #07ab69;
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 25px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 0px;
  text-shadow: 2px 2px 5px #333;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  float: left;
  line-height: 80px;
  margin: 0 5px;
  text-shadow: 2px 2px 5px #333;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 10px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #f25010;
  transition: 0.5s;
  border-radius: 10px;
}
/***** BANNER TRIAL *****/
.banner-card {
  position: relative;
  text-align: center; /* Center the text */
}

.banner-card img {
  max-width: 100%;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
}

.banner-text p {
  margin-left: 20px;
  font-size: 20px;
}

.banner-text h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 20px;
}

.login-button {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: #f25010;
  border: 1px solid white;
  padding: 9px 25px;
  line-height: 1.4;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 55px;
}
.login-button:hover {
  transform: scale(1.2);
  border: 1px solid #f5dca8;
  background: transparent;
  color: white;
  transition: 0.4s;
}
.login-button.cta {
  border: 1px solid #f5dca8;
  color: white;
  background: transparent;
  margin-left: 20px;
}
.login-button.cta i {
  margin-right: 12px;
}
.login-button.cta:hover {
  color: black;
  background: white;
  border: 1px solid white;
  transition: 0.4s;
}

/***** End BANNER TRIAL *****/

.banner-card img {
  max-width: 100%;
}

login-button:hover {
  transform: scale(1.2);
  border: 1px solid #f5dca8;
  background: transparent;
  color: white;
  transition: 0.4s;
}
login-button.cta {
  border: 1px solid #f5dca8;
  color: white;
  background: transparent;
  margin-left: 20px;
}
login-button.cta i {
  margin-right: 12px;
}
login-button.cta:hover {
  color: black;
  background: white;
  border: 1px solid white;
  transition: 0.4s;
}

/***** FORM Login Section *****/

.h2title {
  text-align: center;
  margin: 10px;
}
.form-container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 60px;
  margin-top: 5rem;
}
h2.h2donate {
  display: block;
  text-align: center;
  justify-content: center;
  margin: 5px;
}
.form-container form {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  width: 50vw;
  position: relative;
  padding: 2rem 1rem;
  border-radius: 10px;
}

.form-container form h3 {
  text-align: center;
  color: #000000;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.form-container form input,
.form-container form select {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  border: 1px solid #c7b3f5;
  width: 100%;
  padding: 10px 15px;
  font-size: 17px;
  margin: 8px 0;

  border-radius: 5px;
}
.form-container form sup {
  color: red;
}
.form-container form select option {
  background: #fff;
}

.form-container form .form-btn {
  background: #07ab69;
  font-size: 20px;
  cursor: pointer;
}

.form-container form .form-btn:hover {
  background: #c96800;
  color: #fff;
}

.form-container form p {
  margin-top: 10px;
  font-size: 20px;
  color: #333;
}

.form-container form p a {
  color: #e382c5;
}

.form-container form .error-msg {
  margin: 10px 0;
  display: block;
  background: crimson;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
}

/***** End Section *****/

/* Add some basic styling to the table */
table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
th {
  background-color: #f0f0f0;
  font-weight: bold;
  color: #333;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
tr:hover {
  background-color: #f2f2f2;
}

/***** PRINT RECEIPT *****/

/***** End PRINT RECEIPT *****/

/***** ADMIN DASH*****/
.dashboard-stats {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}
.stat-item {
  background-color: #ec251b;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 20%; 
  width: 20%;/* Adjust width as needed */
}
.stat-item h3 {
  margin: 0;
  font-size: 20px;
  color: #f0f0f0;
}
.stat-item p {
  font-size: 24px;
  font-weight: bold;
  color: #f4f4f4; /* Bootstrap primary color */
  
}

/*****ADMIN DASH *****/

/***** DELETE LINK *****/  

.delete-link {
  color: #ffffff;
  background-color: crimson;
  border-radius: 5px;
  margin: 10px;
  padding: 5px 18px;
}

.delete-link:hover {
  color: white;
  background-color: red;
}
/***** End DELETE LINK *****/
